.trash-icon {
  width: 24px;
  height: 25px;
  fill: none;
  &--primary {
    path {
      fill: map-get($theme-colors, "primary", "base");
    }
  }
  &--secondary {
    path {
      fill: map-get($theme-colors, "whiteT", "base");
    }
  }
  @include tablet {
    width: 24px;
    height: 25px;
  }
  @include desktop {
    width: 24px;
    height: 25px;
  }
}
