.torres-tag {
  display: inline-block;
  padding: remy(3px) remy(6px);
  font-size: remy(13px);
  font-weight: 500;
  color: map-get($theme-colors, "whiteT", "base");
  background-color: map-get($theme-colors, "secondary", "base");
  border-radius: remy(4px);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  @include tablet {
    padding: remy(4px) remy(8px);
    font-size: remy(14px);
  }

  @include desktop {
    padding: remy(4px) remy(8px);
    font-size: remy(14px);
  }
}
