.arrow-with-tail-top-icon {
  width: 18px;
  height: 18px;
  fill: none;
  transform: rotate(-90deg);
  &--primary {
    path {
      stroke: map-get($theme-colors, "blackT", "base");
    }
  }
  &--secondary {
    path {
      stroke: map-get($theme-colors, "whiteT", "base");
    }
  }
  @include tablet {
    width: 20px;
    height: 20px;
  }
  @include desktop {
    width: 24px;
    height: 24px;
  }
}
