$theme-border-radius: (
  card: (
    mobile: 8px,
    tablet: 8px,
    desktop: 16px,
  ),
  button: (
    mobile: 4px,
    tablet: 4px,
    desktop: 8px,
  ),
  buttonColor: (
    mobile: 50%,
    tablet: 50%,
    desktop: 50%,
  ),
);
