.torres-button {
  @include reset-button-style;

  & {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: map-get($torres-button, "button", "padding", "mobile");
    gap: map-get($torres-button, "button", "gap", "mobile");
    cursor: pointer;
    transition: 0.3s ease-in-out;
    user-select: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    @include buttonDisabled;
  }

  &:active {
    transform: scale(0.95);
  }

  @include tablet {
    padding: map-get($torres-button, "button", "padding", "tablet");
    gap: map-get($torres-button, "button", "gap", "tablet");
  }

  @include desktop {
    padding: map-get($torres-button, "button", "padding", "desktop");
    gap: map-get($torres-button, "button", "gap", "desktop");
  }
}

// Temas
.torres-button--primary {
  background-color: map-get(
    $torres-button,
    "button",
    "primary",
    "background",
    "base"
  );
  color: map-get($torres-button, "button", "primary", "text", "color", "base");
  border-radius: map-get(
    $torres-button,
    "button",
    "primary",
    "border",
    "radius",
    "mobile"
  );
  border: map-get(
    $torres-button,
    "button",
    "primary",
    "border",
    "border",
    "base"
  );
  font-size: map-get(
    $torres-button,
    "button",
    "primary",
    "text",
    "font",
    "size",
    "mobile"
  );
  font-weight: map-get(
    $torres-button,
    "button",
    "primary",
    "text",
    "font",
    "weight"
  );

  @include tablet {
    font-size: map-get(
      $torres-button,
      "button",
      "primary",
      "text",
      "font",
      "size",
      "tablet"
    );
    border-radius: map-get(
      $torres-button,
      "button",
      "primary",
      "border",
      "radius",
      "tablet"
    );
  }

  @include desktop {
    font-size: map-get(
      $torres-button,
      "button",
      "primary",
      "text",
      "font",
      "size",
      "desktop"
    );
    border-radius: map-get(
      $torres-button,
      "button",
      "primary",
      "border",
      "radius",
      "desktop"
    );
  }
}

.torres-button--secondary {
  background-color: map-get(
    $torres-button,
    "button",
    "secondary",
    "background",
    "base"
  );
  color: map-get(
    $torres-button,
    "button",
    "secondary",
    "text",
    "color",
    "base"
  );
  border-radius: map-get(
    $torres-button,
    "button",
    "secondary",
    "border",
    "radius",
    "mobile"
  );
  border: map-get(
    $torres-button,
    "button",
    "secondary",
    "border",
    "border",
    "base"
  );
  font-size: map-get(
    $torres-button,
    "button",
    "secondary",
    "text",
    "font",
    "size",
    "mobile"
  );
  font-weight: map-get(
    $torres-button,
    "button",
    "secondary",
    "text",
    "font",
    "weight"
  );

  @include tablet {
    font-size: map-get(
      $torres-button,
      "button",
      "secondary",
      "text",
      "font",
      "size",
      "tablet"
    );
    border-radius: map-get(
      $torres-button,
      "button",
      "secondary",
      "border",
      "radius",
      "tablet"
    );
  }

  @include desktop {
    font-size: map-get(
      $torres-button,
      "button",
      "secondary",
      "text",
      "font",
      "size",
      "desktop"
    );
    border-radius: map-get(
      $torres-button,
      "button",
      "secondary",
      "border",
      "radius",
      "desktop"
    );
  }
}

.torres-button--tertiary {
  background-color: map-get(
    $torres-button,
    "button",
    "tertiary",
    "background",
    "base"
  );
  color: map-get($torres-button, "button", "tertiary", "text", "color", "base");
  border-radius: map-get(
    $torres-button,
    "button",
    "tertiary",
    "border",
    "radius",
    "mobile"
  );
  border: map-get(
    $torres-button,
    "button",
    "tertiary",
    "border",
    "border",
    "base"
  );
  font-size: map-get(
    $torres-button,
    "button",
    "tertiary",
    "text",
    "font",
    "size",
    "mobile"
  );
  font-weight: map-get(
    $torres-button,
    "button",
    "tertiary",
    "text",
    "font",
    "weight"
  );

  @include tablet {
    font-size: map-get(
      $torres-button,
      "button",
      "tertiary",
      "text",
      "font",
      "size",
      "tablet"
    );
    border-radius: map-get(
      $torres-button,
      "button",
      "tertiary",
      "border",
      "radius",
      "tablet"
    );
  }

  @include desktop {
    font-size: map-get(
      $torres-button,
      "button",
      "tertiary",
      "text",
      "font",
      "size",
      "desktop"
    );
    border-radius: map-get(
      $torres-button,
      "button",
      "tertiary",
      "border",
      "radius",
      "desktop"
    );
  }
}
